<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

    <title>SpaceLoops</title>

    <!-- bootstrap core css -->
    <link href="~/spaceloopstemplate/css/bootstrap.css" rel="stylesheet" />


    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/spaceloopstemplate/css/style.css" rel="stylesheet" />
    <a href="~/spaceloopstemplate/css/style.css.map"></a>
    <!-- responsive style -->
    <link href="~/spaceloopstemplate/css/responsive.css" rel="stylesheet" />
<style>
      .info_links ul li {
    margin-bottom: 10px;
    }
</style>
  
</head>

<body>
    <div class="hero_area">
        <!-- header section strats -->
        @if(ViewBag.PageName == "Index")
        {
            <div class="hero_bg_box">
                <div class="img-box">
                    <img src="~/spaceloopstemplate/images/hero-bg.jpg" alt="">
                </div>
            </div>
        }
        
    

    <header class="header_section">
        <div class="header_top">
            <div class="container-fluid">
                <div class="contact_link-container">
                    <a href="" class="contact_link1">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span>
                           Fatehgarh Sahib, Punjab
                        </span>
                    </a>
                    <a href="" class="contact_link2">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span>
                            Call : +91 9815557158
                        </span>
                    </a>
                    <a href="" class="contact_link3">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span>
                                gagan.spaceloops@gmail.com
                        </span>
                    </a>
                </div>
            </div>
        </div>
            <div class="header_bottom" style="background: #423a3a;">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container">
                    <a class="navbar-brand" href="#">
                        <span>
                            SpaceLoops
                        </span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class=""></span>
                    </button>

                    <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/Index">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link" href="/Home/About"> About</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link" href="/Home/Index#ServicesDiv"> Services </a>
                            </li>
                           
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/ContactUs">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
   
    @RenderBody()
     </div>

    <section class="info_section ">
        <div class="container">
            <div class="row">
                 <div class="col-md-3">
                     </div>
                <div class="col-md-3">
                    <div class="info_logo">
                        <a class="navbar-brand" href="#">
                            <span>
                                Spaceloops
                            </span>
                        </a>
                        <p>
                            Let's discuss your IT needs With SpaceLoops!
                        </p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="info_links">
                        <h5>
                            Useful Link
                        </h5>
                        <ul>
                            <li>
                                <a href="Home/Index">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="Home/About">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="/Home/Index#ServicesDiv">
                                  Services
                                </a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info_info">
                        <h5>
                            Contact Us
                        </h5>
                    </div>
                    <div class="info_contact">
                        <a href="" class="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                Fatehgarh Sahib, Punjab
                            </span>
                        </a>
                        <a href="" class="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                Call : +91 9815557158
                            </span>
                        </a>
                        <a href="" class="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                gagan.spaceloops@gmail.com
                            </span>
                        </a>
                    </div>
                </div>
               
            </div>
        </div>
    </section>

    <!-- end info_section -->
    <!-- footer section -->
    <footer class="container-fluid footer_section">
        <p>
            &copy; <span id="currentYear"></span> All Rights Reserved. Design by
            <a href="https://html.design/">SpaceLoops</a>
        </p>
    </footer>
    <!-- footer section -->

    <script src="~/spaceloopstemplate/js/jquery-3.4.1.min.js"></script>
    <script src="~/spaceloopstemplate/js/bootstrap.js"></script>
    <script src="~/spaceloopstemplate/js/custom.js"></script>
    <
</body>

</html>

<script>
    // Get the current URL
    var currentUrl = window.location.href;

  
        var navLinks = document.querySelectorAll('.navbar-nav .nav-link');
        navLinks.forEach(function (link) {
            if (link.href === currentUrl) {
                link.parentElement.classList.add('active');
            }
        });

</script>

