@{
    Layout = "_Layout";
    
}


    <section class="about_section layout_padding">
        <div class="container">
            <div class="row">
            <div class="col-md-6 px-0">
                <div class="img_container">
                    <div class="img-box">
                        <img src="~/spaceloopstemplate/images/about-img.jpg" alt="" />
                    </div>
                </div>
            </div>
                <div class="col-md-6 px-0">
                    <div class="detail-box">
                        <div class="heading_container ">
                            <h2>
                                Who Are We?
                            </h2>
                        </div>
                        <p>
                    
                        We are diverse, passionate, and highly curious tech enthusiasts who are sowing the seeds for a better tomorrow. We collaborate with businesses, enterprises, organizations, and government agencies to streamline their operations. The faster rolling and growing numbers themselves tell why we are a leader in IT solution providers.
                    
                        </p>
                 
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="team_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Our Team
            </h2>
            <p>
                Our team of experienced professionals whom are dedicated to
                delivering exceptional value to our clients.
            </p>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 mx-auto ">
                <div class="box">
                    <div class="img-box">
                        <img src="~/AdminTemplate/GuardImages/Gagan.jpeg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Sardar Gagandeep Singh
                        </h5>
                        <h6 class="">
                            CEO
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mx-auto ">
                <div class="box">
                    <div class="img-box">
                        <img src="~/AdminTemplate/GuardImages/Gagan.jpeg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Sardar Gagandeep Singh
                        </h5>
                        <h6 class="">
                            CEO
                        </h6>
                    </div>
                </div>
            </div>          
            <div class="col-md-3 col-sm-6 mx-auto ">
                <div class="box">
                    <div class="img-box">
                        <img src="~/AdminTemplate/GuardImages/Gagan.jpeg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Sardar Gagandeep Singh
                        </h5>
                        <h6 class="">
                            CEO
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mx-auto ">
                <div class="box">
                    <div class="img-box">
                        <img src="~/AdminTemplate/GuardImages/Gagan.jpeg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Sardar Gagandeep Singh
                        </h5>
                        <h6 class="">
                            CEO
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        
            <div class="btn-box">
            <a href="/Home/ContactUs" class="btn-2"> Contact Us </a>
            </div>
        </div>
    
</section>


   

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/custom.js"></script>


