@{
    Layout = "_layoutAdmin";
}

<section class="section">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">

                <div class="card card-primary">
                    <div class="card-header">
                        <h4>
                            <div>
                                Change Password
                            </div>
                        </h4>
                    </div>
                    <div class="card-body">
                        <form action="#">
                            @* <input id="ResetCode" class="form-control" name="ResetCode" value="@ViewBag.ResetCode" type="hidden" autofocus> *@

                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="Password">Current Password</label>
                                    <input id="CurrentPassword" type="password" class="form-control" name="CurrentPassword" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="Password">New Password</label>
                                    <input id="NewPassword" type="password" class="form-control" name="NewPassword" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="Password">Confirm Password</label>
                                    <input id="ConfirmPassword" type="password" class="form-control" name="ConfirmPassword" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="card">
                                    <div class="card-body text-center">
                                        
                                        <button type="Button" class="btn btn-primary btn-block" style="width: fit-content;" id="btnChangePassword">
                                            Change Password
                                        </button>
                                        <label id="erroMessage"> </label>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="~/js/changepassword.js"></script>
