@{
    Layout = "_layoutAdmin";
}

@model SpaceLoops.DAL.Entities.UserRegistration
<style>
    .display-image-container {
        text-align: right;
    }
</style>

<body>
    <section class="section">
        <h1 class="section-header">
            <div>
                Edit Profile
            </div>
        </h1>
        <div class="container mt-5">
            <div class="row">
                @* <div class="col-12 col-sm-8 offset-sm-8 col-md-8 offset-md-8 col-lg-8 offset-lg-6 col-xl-8 offset-xl-2"> *@

                <div class="col-12 col-md-12 col-lg-12 offset-lg-12" style="max-height: 100px;">

                    <div class="card card-primary">
                        <div class="card-header">
                            <h4>
                                <div>
                                    Edit Profile
                                </div>
                            </h4>
                        </div>

                        <div class="card-body">

                            <form action="#" method="post">
                                <input id="Id" class="form-control" name="Id" type="hidden" autofocus>

                                <div class="row">
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <label for="FirstName">First Name</label>
                                        <input id="FirstName" type="text" class="form-control" name="FirstName" value="@Model.FirstName" required>
                                    </div>

                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <label for="LastName">Last Name</label>
                                        <input id="LastName" type="text" class="form-control" name="LastName" value="@Model.LastName" required>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <label for="EmailId">Email Id</label>
                                        <input id="EmailId" type="text" class="form-control" name="EmailId" value="@Model.EmailId" readonly>
                                    </div>

                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <label for="PhoneNumber">Phone Number</label>
                                        <input id="PhoneNumber" type="text" class="form-control" name="PhoneNumber" value="@Model.PhoneNumber" maxlength="10" required>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <button type="Button" class="btn btn-primary btn-block" style="width: fit-content;" id="btnEditProfile">
                                                    Submit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>

                    <div class="card card-primary">
                        <div class="card-header">
                            <h4>
                                <div>
                                    Upload Image
                                </div>
                            </h4>
                        </div>

                        <div class="card-body">

                            <form action="#" method="post">
                                <input id="b64" class="form-control" name="b64" type="hidden" autofocus>

                                <div class="row">
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <label for="Image">Choose Image</label>
                                        <input id="Image" type="file" class="form-control" name="Image" accept="image/*" required>
                                    </div>

                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                       

                                        @if(ViewBag.DisplayedImage != null && ViewBag.DisplayedImage != " ")
                                        {
                                        <img id="DisplayedImage" src="data:image/png;base64,@ViewBag.ImageData" class="form-control" name="DisplayedImage">
                                        </img>
                                        }
                                        else {

                                   <img src="~/admintemplate/img/noprofileimage.jpg" style="width:200px">
                                        }
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="form-group">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <button type="Button" class="btn btn-primary btn-block" style="width: fit-content;" id="uploadImageBtn">
                                                    Upload
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="~/admintemplate/js/jquery-3.6.4.min.js"></script>

<script src="~/js/editprofile.js"></script>